.js{
    background-color: green;
    color: white;
    text-align: center;
    border: 6px solid red;
    border-radius: 20px;
}
.hudud{
    text-align: center;
}
.fifa{
    background-color: black;
    color: white;
    text-align: center;
}
